<div class="list-header">
    <h2>{{headeroflist.listTitle}}</h2>
    <div class="view-control">
		<button class="view-control-item">
			<span class="glyphicon glyphicon-th-list"  ng-show="true"  title="Switch to List View"></span>
			<span class="glyphicon glyphicon-th"  ng-show="false"   data-placement="bottom"  title="Switch to Tile View"></span>
		</button>
		<button class="view-control-item"><span class="glyphicon glyphicon-pencil" data-placement="bottom"  title="Bulk Edit"></span></button>
	</div>
</div>