.header {
  background: #f4f4f6;
  height: 50px;
  color: #313131;
  font-style: normal;
  border-bottom: 1px solid #ccc;
}
.header ul.navigation {
  list-style: none;
  margin: 0;
}
.header .navi-item {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
  font-size: 15px;
  padding: 13px;
}
.header .navi-item a {
  text-decoration: none;
  color: #313131;
}
.header .navi-item a:hover {
  color: #50bcb6;
}
.header .navi-item#brandlist {
  font-size: 20px;
}
.header .navi-item.active {
  border-bottom: 2px solid #50bcb6;
}
.header .navi-item.active a {
  color: #50bcb6;
}
.header ul.navigation-right {
  top: 2px;
  right: 100px;
}
.header ul.navigation-right .navi-item {
  margin-right: 2px;
  padding: 13px 5px;
}
.header ul.navigation-right .navi-item:hover {
  color: #50bcb6;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.clear {
  clear: both;
}
.d-ib {
  display: inline-block;
}
.d-b {
  display: block;
}
.ta-l {
  text-align: left;
}
.ta-r {
  text-align: right;
}
.ta-c {
  text-align: center;
}
.va-t {
  vertical-align: top;
}
.va-m {
  vertical-align: middle;
}
.va-b {
  vertical-align: bottom;
}
.p-a {
  position: absolute;
}
.p-r {
  position: relative;
}
.main-panel {
  height: 100%;
}
.main-panel .main-leftpanel {
  height: 100%;
  width: 140px;
  background: #f4f4f6;
}
.main-panel .main-leftpanel .main-controlpanel {
  list-style: none;
  margin-top: 30px;
  text-align: center;
  font-size: 15px;
}
.main-panel .main-leftpanel .main-controlpanel .main-controlitem {
  line-height: 22.5px;
  padding: 4.8px 0;
}
.main-panel .main-leftpanel .main-controlpanel .main-controlitem a {
  color: #313131;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}
.main-panel .main-leftpanel .main-controlpanel .main-controlitem a:hover {
  color: #50bcb6;
}
.main-panel .main-leftpanel .main-controlpanel .main-controlitem.active a {
  color: #50bcb6;
}
.main-panel .main-leftpanel .horizontalline {
  border: 1px solid #ccc;
  width: 30px;
  margin: 0 auto;
}
.main-panel .main-leftpanel .main-controlpanel-bottom {
  margin: 10px 0;
}
.main-panel .main-righpanel {
  width: calc(100% - 140px);
  float: right;
  padding: 15px 0 0 60px;
}
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #808080;
  opacity: 0.8;
}
.ng-modal-dialog {
  background-color: #fff;
  box-shadow: 10px 10px #595554;
  border-radius: 4px;
  z-index: 10000;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ng-modal-dialog-content {
  padding: 10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
.article-list {
  width: 100%;
  overflow: auto;
  padding: 0;
  height: calc("100% - 125px");
  margin-top: 40px;
}
.article-list .article-item {
  width: calc(25% - 20px);
  display: inline-block;
  background: white;
  border: 1px solid #dcdce0;
  height: 280px;
  vertical-align: top;
  margin: 10px;
}
.article-list .article-item .item-content {
  height: 100%;
  position: relative;
}
.article-list .article-item .item-content .article-title {
  font-size: 19px;
  color: #313131;
  padding: 10px;
  font-style: normal;
  font-weight: 600;
  font-family: serif;
  margin: 0;
}
.article-list .article-item .item-content .ellipsis-threelines-new {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.article-list .article-item .item-content .lead-image {
  width: 100%;
  margin: 0 0 10px;
  height: 50%;
}
.article-list .article-item .item-content .bottom-container {
  position: absolute;
  bottom: 5px;
  width: 100%;
}
.article-list .article-item .item-content .bottom-container .bottom-inform {
  position: relative;
  color: #aaa;
}
.article-list .article-item .item-content .bottom-container .bottom-inform .original-link {
  font-size: 12px;
  color: #aaa;
}
.article-list .article-item .item-content .bottom-container .bottom-inform .original-link:hover {
  color: #50bcb6;
  text-decoration: none;
}
@media screen and (max-width: 1200px) {
  .article-list .article-item {
    width: calc(33.3% - 20px);
  }
}
@media screen and (max-width: 900px) {
  .article-list .article-item {
    width: calc(50% - 20px);
  }
}
@media screen and (max-width: 700px) {
  .article-list .article-item {
    width: calc(100% - 100px);
  }
}
.list-header {
  position: relative;
  height: 40px;
  margin-top: 20px;
}
.list-header h2 {
  margin: 0;
}
.list-header .view-control {
  position: absolute;
  top: 0px;
  right: 50px;
}
.list-header .view-control .view-control-item {
  border: none;
  background: white;
  color: #bbb;
}
.list-header .view-control .view-control-item:hover {
  color: #555;
}
.action-list {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 0;
  list-style: none;
  margin: 0;
}
.action-list .action-item {
  display: inline-block;
  margin-right: 3px;
}
.action-list .action-item:hover {
  color: #555;
}
.action-list .action-item.favorite-item {
  color: red;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0;
}
.main-container {
  height: calc(100% - 50px);
}
